.filter {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.clearFilter {
	align-self: stretch;
	margin-bottom: -20px;
}

.form {
	display: flex;
	gap: 24px;
	flex-wrap: wrap;
	align-items: flex-end;
}
