.container {
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding: 16px;
}

.title {
	padding: 24px 0;
}

.buttons {
	display: flex;
	justify-content: space-between;

	button {
		width: 100px;
	}
}
