.info {
	align-self: center;
	max-width: 660px;
	display: flex;
	flex-direction: column;
	gap: 24px;
	font-size: 18px;
	text-align: center;
	margin-top: 100px;
}

.infoRows {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
