.store {
	display: flex;
	flex-direction: column;
	gap: 24px;
	position: relative;
}

.filter {
	display: flex;
	gap: 24px;
	flex-wrap: wrap;
	align-items: flex-end;
}

.storeItems {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
