.book {
	border: 1px solid #ddd;
	border-radius: 9px;
	padding: 16px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	position: relative;
}

.bookContent {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.image {
	background-size: cover;
	min-height: 200px;
	position: relative;
}

.fav {
	position: absolute;
	top: 16px;
	right: 16px;
}

.info {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.price {
	font-size: 20px;
	font-weight: bold;
}

.acronym {
	text-transform: uppercase;
}

.authors {
	display: flex;
	gap: 4px;
	flex-wrap: wrap;
	font-size: 14px;
}

.rating {
	margin-top: auto;
}
