.input input {
	--input-color: #222;
	--input-bd-focus: #ddd;
	--input-radius: 7px;
}

.input input:focus {
	outline: none;
	box-shadow: 0 0 11px #97979754;
}

.icon {
	display: inline;
}

.password + span.icon::after {
	content: "\2694";
}

/* Chrome, Safari, Edge, Opera */
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
.input[type="number"] {
	-moz-appearance: textfield;
}
